name: Publish package to GitHub Packages

on:
  release:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up GitHub Packages
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Set up Apache Maven Central
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        server-id: ossrh
        server-username: MAVEN_CENTRAL_USERNAME
        server-password: MAVEN_CENTRAL_PASSWORD
        gpg-private-key: ${{ secrets.MAVEN_CENTRAL_GPG_SECRET_KEY }}
        gpg-passphrase: MAVEN_CENTRAL_GPG_SECRET_KEY_PASSWORD

    - name: Publish to Apache Maven Central
      run: mvn deploy
      env:
        MAVEN_CENTRAL_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_CENTRAL_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
        MAVEN_CENTRAL_GPG_SECRET_KEY_PASSWORD: ${{ secrets.MAVEN_CENTRAL_GPG_SECRET_KEY_PASSWORD }}
